<!DOCTYPE html>
<html>
  <head>
    <title>Data input</title>
  </head>

  <body>
    <center>
      <br/>
      <h1>
        Parameter Evaluation
      </h1>
      <br/>
      <br/>
                #1: Sulfur dioxide(SO2)-Annual average(µg/m3)
                <br/>
                #2: Nitrogen dioxide(NO2)-Annual average(µg/m3)
                <br/>
                #3: PM 10-Annual average(µg/m3)
                <br/>
                <br/>
                <br/>
      <form method="POST">
          <table>
            <tr>
              
              <td><input type="text" name="data2" placeholder="Enter Choice number"/></td>
            </tr>
            <tr>
              <td><input type="submit" value="Find Cities"/></td>
            </tr>
          </table>
        </form>
    </center>
    
  </body>
</html>