<html>
    <body>
        <center>
            <br/>
            <h1>Hi there</h1>
            <br/>
            <li>
                To see the average air quality for a state, add /q1/state_name to the URL
            </li>
            <br/>
            
            <li>
                #1: Sulfur dioxide(SO2)-Annual average(µg/m3)
                <br/>
                #2: Nitrogen dioxide(NO2)-Annual average(µg/m3)
                <br/>
                #3: PM 10-Annual average(µg/m3)
                <br/>
                To see the city has lowest and highest of that parameter, add /q3/choice_no to the URL

            </li>
        </center>
    </body>
</html>